h1{
    background-color: orangered;
    color: white;
    border-style: dashed;
    width: 30%;
}


.instructions{
    background-color: beige;
    color: green;
    border-style: dashed;
    width: 50%;
}

body{
    background-image: url("https://image.freepik.com/free-vector/abstract-geometric-pattern-background_1319-242.jpg")
    
    
}


#MatchingNumbers{
    font-size: 24px;
    background-color: green;
    width: 25%;
    border-style: dashed;
    padding: 20px;
    margin: 25px;
    float: right;
    


}




#winAndLosses{
    background-color: teal;
    width: 15%;
    border-style: dashed;
    float: left;



}

ul{
    background-color: white;
    list-style: none;
    border-style: dashed;
    width: 45%;
    
    
}

#totalScore{
    background-color: green;
    color: white;
    width: 50%;
    border-style: dashed;

    
}
div{
    border-style: dashed;
    background-color: green;
    color: white;
    width: 50%;
}

li{
    display: inline-block;
    
}

.clearfix::after{
    display: table; content: "";clear: both;
}