h1{
    background-color: orangered;
    color: white;
    border-style: dashed;
    width: 30%;
}


.instructions{
    background-color: beige;
    color: green;
    border-style: dashed;
    width: 50%;
}

body{
    background-image: url("https://image.freepik.com/free-vector/abstract-geometric-pattern-background_1319-242.jpg")
    
    
}


#MatchingNumbers{
    font-size: 24px;
    background-color: green;
    width: 25%;
    border-style: dashed;
    padding: 20px;
    margin: 25px;
    float: right;
    


}




#winAndLosses{
    background-color: teal;
    width: 15%;
    border-style: dashed;


}

ul{
    background-color: white;
}

#totalScore{
    background-color: green;
    color: white;
    width: 20%;
    border-style: dashed;
    
}